<!doctype html>
<html ng-app="ddxApp" ng-controller="MainController">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">

        <link href="./node_modules/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
        <script src="./node_modules/angular/angular.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-messages/angular-messages.js"></script>
        <script src="./node_modules/angular-route/angular-route.js"></script>
        <script src="./node_modules/angular-resource/angular-resource.js"></script>
        <script src="./node_modules/angular-local-storage/dist/angular-local-storage.js"></script>

        <script src="mainController.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css" />

        <script src="components/login-register/login-registerController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/login-register/login-register.css" />

        <script src="components/sidebar/sidebarController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/sidebar/sidebar.css"/>

        <script src="components/proposals/proposalsController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/proposals/proposals.css"/>

        <script src="components/proposals/proposal-discussion/proposal-discussionController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/proposals/proposal-discussion/proposal-discussion.css"/>

        <script src="components/vote/voteController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/vote/vote.css"/>

        <script src="components/menu-options/menu-optionsController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/menu-options/menu-options.css"/>

        <script src="components/user-profile/user-profileController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/user-profile/user-profile.css"/>

        <script src="components/user-groups/user-groupsController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/user-groups/user-groups.css"/>

        <script src="components/proposal-drafts/proposal-draftsController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/proposal-drafts/proposal-drafts.css"/>

        <script src="components/group/groupController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/group/group.css"/>                                                        
    </head>

    <body>
        <nav class="navbar navbar-default ddx-navbar" role="navigation">
        <div class="row">
          <div class="navbar-brand ddx-logo">DDX</div>
          <div class="container-fluid">
            <div class="nav navbar-nav navbar-right navbar-header options-md-panel-content group-dropdown" ng-app="ddxApp"> 
                <md-input-container ng-if="!main.noOneIsLoggedIn">
                  <label style="color: white;">Group</label>
                  <md-select ng-controller="UserGroupsController" ng-model="main.current_group_id" placeholder="All Groups">
                    <md-option ng-value="'All Groups'" ng-click="UserGroupsController.setGroupToAll()">All Groups</md-option>
                    <md-option ng-repeat="group in UserGroupsController.groups" ng-value="group._id" ng-click="UserGroupsController.setGroup(group)">
                      {{group.name}}
                    </md-option>
                  </md-select>
                </md-input-container>                       
                <md-button ng-controller="OptionsMenuCtrl as ctrl" ng-if="!main.noOneIsLoggedIn" class="md-icon-button menu-open-button options-menu-open-button" aria-label="Menu" ng-click="ctrl.showMenu($event)">
                    <md-icon md-svg-icon="img/icons/ic_menu_white_48px.svg"></md-icon>
                </md-button>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs" ng-if="!main.noOneIsLoggedIn">
            <li id="the_floor_tab" ng-class="{active: main.active_tab === 'floor'}" class="inactive"><a data-toggle="tab" href="#vote"> The Floor </a></li>
            <li id="proposals_tab" ng-class="{active: main.active_tab === 'proposals'}" class="inactive"><a data-toggle="tab" href="#proposals"> Proposals </a></li>
            <li id="group_information_tab" ng-class="{active: main.active_tab === 'group'}" class="inactive"><a data-toggle="tab" ng-click="main.showGroup()"> Group Information </a></li>
        </ul>        
        </nav>        

        <div class="container" flex layout="row" ng-if="!main.noOneIsLoggedIn">
            <md-content class="content_display" flex id="content">
                <div ng-view></div>
            </md-content>
        </div>

        <div class="container" flex layout="row" ng-if="main.noOneIsLoggedIn">
            <md-content class="content_display" flex id="content">
                <div ng-view></div>
            </md-content>
        </div>
    </body>
</html>
