.navbar {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 0;
}

header {
	padding: 10px 0;
	/*background-color: rgb(174, 242, 219);*/
	background-color: rgb(252, 202, 86);
	margin-bottom: 0;
	padding-bottom: 0;
}

header h1 {
	font-weight: 700;
	margin-left: 20px;
}

.span10 {
	left: 300px;
}

.nav-and-content {
	margin-top: 0;
	padding-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.content_display {
	margin-top: 20px;
	background-color: white;
}

.nav-tabs {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 0;
	color: black;
	text-decoration-color: black;
}

.nav-tabs > li > a {
  	color: black !important;
}