.vote-proposal {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 15px;
    border-bottom: thin dotted;
}

.vote-proposal-votes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vote-proposal-user-vote {
	display: flex;
	flex-direction: column;    
    justify-content: center;	
}

.vote-oval-button {
/*  	top: 50%;
    transform: translateY(-50%);*/

}

.vote-proposal-title-and-details {
	margin-top: 5px;
	margin-left: 10px;
}

.vote-proposal-display-details {
	margin-left: 10px;
	line-height: 90%;
}

.md-button.vote-proposal-title-and-details{
	text-align: left;
	text-transform: none;
	line-height: 90%;
	padding-right: 50px;
}

.vote-proposal-buttons {
	margin: 0 auto;
}

.vote-discussion-proposal {
	padding-bottom: 10px;
	border-bottom: thin solid;	
}

.vote-proposal-title > p {
	margin-left: 2%;
}

.vote-proposal-text > p {
	background: #FFFDFD;
	border: 1px solid #979797;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 15px;
	margin-left: 2%;
	margin-right: 2%;	
}

.user-comments-label {
	padding-top: 20px;
}

.vote-proposal-discussion-comments {
	/*margin-top: 20px;*/
	margin-left: 5%;
	width: 80%;	
}

.vote-proposal-discussion-comment {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 15px;
    border-bottom: thin dotted;
}

.vote-proposal-discussion-comment-votes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vote-proposal-discussion-comment-title-and-details {
	margin-top: 5px;
	margin-left: 10px;
}

.vote-proposal-display-details {
	margin-left: 10px;
	line-height: 90%;
}