<div class="vote-proposals">	
	<div ng-repeat="proposal in VoteController.proposals" ng-init="sectionIndex = $index" class="vote-proposal-col">
		<div class="vote-proposal">
			<div class="vote-proposal-user-vote">
		        <md-button class="md-icon-button vote-oval-button" ng-click="VoteController.showProposalModal($event, proposal)">		
					<md-icon md-svg-src="img/icons/vote_oval_icon.svg" aria-label="Vote"></md-icon>
		        </md-button>						        
			</div>
			<md-button class="vote-proposal-title-and-details" ng-click="VoteController.showProposalModal($event, proposal)">
				<p class="vote-proposal-display-title"><b>{{proposal.title}}</b></p>
				<div class="vote-proposal-display-details">
					<p><i>Proposed by: {{proposal.user_author_name}}</i></p>
					<p><i>Group: {{proposal.group}}</i></p>
					<p><i>Threshold to pass: </i></p>
				</div>
			</md-button>
		</div>
	</div>
</div>