.proposals-submit-proposal-button {
	border-radius: 10px;
	border-color: grey;
	border-style: solid;
	border-width: .01px;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.proposal {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 15px;
    border-bottom: thin dotted;
}

.proposal-votes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.proposal-title-and-details {
	margin-top: 5px;
	margin-left: 10px;
}

.proposal-display-details {
	margin-left: 10px;
	line-height: 90%;
}

.md-button.proposal-title-and-details{
	text-align: left;
	text-transform: none;
	line-height: 90%;
	padding-right: 50px;
}