.proposal-discussion-view {
	display: flex;
	flex-direction: column;
}

.discussion-proposal {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}

.proposal-discussion-proposal-text-and-description {
	display: flex;
	flex-direction: column;
	/*margin-top: 5px;*/
	margin-left: 10%;
	width: 80%;
/*	padding: 20px;
	border: .02px solid #C4C4C4;*/
}

.proposal-discussion-proposal-text {
	/* Rectangle 13: */
	background: #FFFDFD;
	border: 1px solid #979797;
	border-radius: 8px;
	margin-bottom: 15px;
}

.proposal-discussion-proposal-text > p {
	/* Rectangle 13: */
	margin: 10px;
}

.proposal-discussion-proposal-description {
	margin-top: 10px;
}

.proposal-discussion-write-comment-or-amendment {
	margin-top: 20px;
	margin-left: 10%;
	width: 80%;
}

.proposal-discussion-write-comment-or-amendment .md-tab {
	background-color: #F3F3F3;
	/*background-color: #F0E5D3;*/
	border-radius: 15px 15px 0px 0px;
}

md-tabs.md-default-theme.proposal-discussion-tabs .md-tab.md-active, 
md-tabs.proposal-discussion-tabs .md-tab.md-active, 
md-tabs.md-default-theme.proposal-discussion-tabs .md-tab.md-active md-icon, 
md-tabs.proposal-discussion-tabs .md-tab.md-active md-icon, 
md-tabs.md-default-theme.proposal-discussion-tabs .md-tab.md-focused, 
md-tabs.proposal-discussion-tabs .md-tab.md-focused, 
md-tabs.md-default-theme.proposal-discussion-tabs .md-tab.md-focused md-icon, 
md-tabs.proposal-discussion-tabs .md-tab.md-focused md-icon {
    color: rgb(0, 0, 0);
}

.md-tabs.md-default-theme.proposal-discussion-tabs md-ink-bar, md-tabs.proposal-discussion-tabs md-ink-bar {
	color: black;
    background: black;
}

.proposal-discussion-tab {
	border-top: 1px solid black;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
	border-width: 0px;
}

.proposal-discussion-write-comment-tab {
	background-color: #F3F3F3;
	/*background-color: #F0E5D3;*/
	padding: 0px;
	border-radius: 0px 15px 15px 15px;
	border-top: 0px;
}

.proposal-discussion-propose-amendment-tab {
	background-color: #F3F3F3;
	/*background-color: #F0E5D3;*/
	padding: 0px;
	border-radius: 0px 15px 15px 15px;
	border-top: 0px;		
}

.proposal-discussion-write-comment-or-amendment md-input-container .md-input {
	background-color: white;
	border: 1px solid #979797;
}

.proposal-discussion-write-comment-tab > label {
	text-align: left; 
}

.proposal-discussion-comment-input {

}

.proposal-discussion-comments {
	margin-top: 20px;
	margin-left: 10%;
	width: 80%;	
}

.proposal-discussion-comment {
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding-bottom: 15px;
    border-bottom: thin dotted;
}

.proposal-discussion-comment-votes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.proposal-discussion-comment-title-and-details {
	margin-top: 5px;
	margin-left: 10px;
}

.proposal-discussion-amendment-text {
	background: #FFFDFD;
	border: 1px solid #979797;
	border-radius: 8px;
	margin-bottom: 15px;	
}

.proposal-discussion-amendment-text > p {
	/* Rectangle 13: */
	margin: 10px;
}

.proposal-display-details {
	margin-left: 10px;
	line-height: 90%;
}