<div class=proposal-discussion-view>
	<div class="discussion-proposal">
		<div class="proposal-votes">
	        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.upvote()">
	          <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
	        </md-button>
	        <md-label>
	        	{{ProposalDiscussionController.proposal.users_who_upvoted.length-ProposalDiscussionController.proposal.users_who_downvoted.length}}
	        </md-label>				
	        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.downvote()">
	          <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
	        </md-button>		        
		</div>
		<div class="proposal-title-and-details">
			<p class="proposal-display-title"><b>{{ProposalDiscussionController.proposal.title}}</b></p>
			<div class="proposal-display-details">
				<p><i>Proposed by: {{ProposalDiscussionController.proposal.user_author_name}}</i></p>
				<p><i>Group: {{ProposalDiscussionController.proposal.group}}</i></p>
				<p><i>Threshold for General Election: </i></p>
			</div>
		</div>
	</div>
	<div class="proposal-discussion-proposal-text-and-description">
		<div class="proposal-discussion-proposal-text">
			<p>{{ProposalDiscussionController.proposal.text}}</p>
		</div>
		<div class="proposal-discussion-proposal-description">
			<p>{{ProposalDiscussionController.proposal.description}}</p>
		</div>
	</div>
	<div class="proposal-discussion-write-comment-or-amendment">
	    <md-tabs class="proposal-discussion-tabs" md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
	      <md-tab id="proposal-discussion-tab" ng-disabled="tab.disabled" label="Comment">
	        <div class="proposal-discussion-write-comment-tab" style="padding: 25px; padding-top: 0px; padding-bottom: 0px; text-align: center;">
		        <form name="writeCommentForm">
		            <div layout-gt-xs="row">
		                <md-input-container class="proposal-discussion-comment-input" flex-gt-xs="">
		                    <label style="text-align:left; margin:5px;"><i>Write Comment</i></label>
                    		<textarea ng-model="ProposalDiscussionController.newCommentText" md-maxlength="400" rows="3" md-select-on-focus=""></textarea>		                    
		                </md-input-container>
		            </div>
			      	<div layout="row" layout-align="end">
		        		<md-button type="submit" ng-click="ProposalDiscussionController.submitComment()">Submit</md-button>
		      		</div>
		  		</form>
	        </div>
	      </md-tab>
	      <md-tab id="proposal-discussion-tab" ng-disabled="tab.disabled" label="Amendment">
	        <div class="proposal-discussion-propose-amendment-tab" style="padding: 25px; text-align: center;">
		        <form name="proposeAmendmentForm">
		            <div layout-gt-xs="row">
		                <md-input-container class="proposal-discussion-amendment-input" flex-gt-xs="">
		                    <label style="text-align:left; margin:5px;"><i>Edit proposal with your proposed amendments</i></label>
                    		<textarea ng-model="ProposalDiscussionController.amendment.text" md-maxlength="400" rows="3" md-select-on-focus=""></textarea>                 
		                </md-input-container>
		            </div>
		            <div layout-gt-xs="row">
		                <md-input-container class="proposal-discussion-amendment-description-input" flex-gt-xs="">
		                    <label style="text-align:left; margin:5px;"><i>Description (make your case! Why should people vote for this amendment?)</i></label>
                    		<textarea ng-model="ProposalDiscussionController.amendment.description" md-maxlength="400" rows="3" md-select-on-focus=""></textarea>		                    
		                </md-input-container>
		            </div>		            
			      	<div layout="row" layout-align="end">
		        		<md-button type="submit" ng-click="ProposalDiscussionController.submitAmendment()">Submit</md-button>
		      		</div>
		  		</form>	        	
	        </div>
	      </md-tab>
	    </md-tabs>	    	
	</div>
	<div ng-repeat="comment in ProposalDiscussionController.combined" ng-init="commentIndex = $index" class="proposal-discussion-comments">
		<div class="proposal-discussion-comment" ng-if="!comment.is_amendment">
			<div class="proposal-discussion-comment-votes">
		        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.upvoteComment(comment, $index)">
		          <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
		        </md-button>
		        <md-label>{{comment.users_who_upvoted.length-comment.users_who_downvoted.length}}</md-label>				
		        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.downvoteComment(comment, $index)">
		          <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
		        </md-button>		        
			</div>
			<div class="proposal-discussion-comment-title-and-details">
				<div class="proposal-discussion-comment-display-details">
					<p>{{comment.user_author_name}} <i>commented:</i></p>
				</div>
				<div class="proposal-discussion-comment-text">
					<p>{{comment.text}}</p>
				</div>				
			</div>
		</div>
		<div class="proposal-discussion-comment" ng-if="comment.is_amendment">
			<div class="proposal-discussion-comment-votes">
		        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.upvoteAmendment(comment, $index)">
		          <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
		        </md-button>
		        <md-label>{{comment.users_who_upvoted.length-comment.users_who_downvoted.length}}</md-label>				
		        <md-button class="md-icon-button" ng-click="ProposalDiscussionController.downvoteAmendment(comment, $index)">
		          <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
		        </md-button>		        
			</div>
			<div class="proposal-discussion-comment-title-and-details">
				<div class="proposal-discussion-comment-display-details">
					<p>{{comment.user_author_name}} <i>proposed an amendment:</i></p>
				</div>
				<div class="proposal-discussion-amendment-text">
					<p>{{comment.amendment_text}}</p>
				</div>					
				<div class="proposal-discussion-comment-text">
					<p>{{comment.amendment_description}}</p>
				</div>				
			</div>
		</div>		
	</div>
</div>