<md-dialog aria-label="Submit New Proposal" class="proposal-dialogue" md-theme='modal'>
  <form ng-cloak>
    <md-toolbar class="proposal-dialogue-toolbar">
      <div class="md-toolbar-tools">
        <h2>Vote on Proposal</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="VoteController.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content">
          <md-tabs md-dynamic-height="" md-border-bottom="">

            <md-tab label="Proposal">
              <md-content class="md-padding">
                  <div layout-gt-xs="column">
                      <div class="vote-proposal-title" flex-gt-xs="">
                          <p><b>{{VoteController.voteProposal.title}}</b>, proposed by {{VoteController.voteProposal.user_author_name}} <i>({{VoteController.voteProposal.group_name}})</i></p>
                      </div>                 
                      <div class="vote-proposal-text" flex-gt-xs="">
                          <p>{{VoteController.voteProposal.text}}</p>
                      </div>                      
                  </div>
              </md-content>
            </md-tab>

            <md-tab label="Discussion">
              <md-content class="md-padding">
                  <div layout-gt-xs="column">
                    <label><i>Author Description</i></label>
                    <div class="discussion-proposal">
                      <div class="proposal-votes">
                            <md-button class="md-icon-button"">
                              <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
                            </md-button>
                            <md-label>
                              {{VoteController.voteProposal.users_who_upvoted.length-VoteController.voteProposal.users_who_downvoted.length}}
                            </md-label>       
                            <md-button class="md-icon-button">
                              <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
                            </md-button>            
                      </div>
                      <div class="proposal-title-and-details">
                        <p class="proposal-display-title"><b>{{VoteController.voteProposal.title}}</b></p>
                        <div class="proposal-display-details">
                          <p><i>Proposed by:</i> <u>{{VoteController.voteProposal.user_author_name}}</u></p>
                          <p><i>Group:</i> {{VoteController.voteProposal.group_name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="proposal-discussion-proposal-text-and-description vote-discussion-proposal">
                      <div class="proposal-discussion-proposal-text">
                        <p>{{VoteController.voteProposal.text}}</p>
                      </div>
                      <div class="proposal-discussion-proposal-description">
                        <p>{{VoteController.voteProposal.description}}</p>
                      </div>
                    </div>                                      
                    <label class="user-comments-label"><i>User Comments</i></label>
                    <div ng-repeat="comment in VoteController.comments" ng-init="commentIndex = $index" class="vote-proposal-discussion-comments">
                      <div class="vote-proposal-discussion-comment">
                        <div class="vote-proposal-discussion-comment-votes">
                              <md-button class="md-icon-button">
                                <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
                              </md-button>
                              <md-label>{{comment.users_who_upvoted.length-comment.users_who_downvoted.length}}</md-label>        
                              <md-button class="md-icon-button">
                                <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
                              </md-button>            
                        </div>
                        <div class="vote-proposal-discussion-comment-title-and-details">
                          <div class="vote-proposal-discussion-comment-display-details">
                            <p>{{comment.user_author_name}} <i>wrote</i></p>
                          </div>
                          <div class="vote-proposal-discussion-comment-text">
                            <p>{{comment.text}}</p>
                          </div>        
                        </div>
                      </div>
                    </div>                  
                  </div>
              </md-content>
            </md-tab>

            <md-tab label="Amendment History">
              <md-content class="md-padding">
                  <div layout-gt-xs="column">
                    <label><i>Enacted Amendments</i></label>              
                    <div ng-repeat="amendment in VoteController.amendments" ng-init="amendmentIndex = $index" class="vote-proposal-discussion-comments">
                      <div class="vote-proposal-discussion-comment">                  
                        <div class="proposal-discussion-comment-votes">
                              <md-button class="md-icon-button">
                                <md-icon md-svg-src="img/icons/upvote_btn.svg" aria-label="Upvote"></md-icon>
                              </md-button>
                              <md-label>{{amendment.users_who_upvoted.length-amendment.users_who_downvoted.length}}</md-label>        
                              <md-button class="md-icon-button">
                                <md-icon md-svg-src="img/icons/downvote_btn.svg" aria-label="Downvote"></md-icon>
                              </md-button>            
                        </div>
                        <div class="proposal-discussion-comment-title-and-details">
                          <div class="proposal-discussion-comment-display-details">
                            <p>{{amendment.user_author_name}} <i>proposed an amendment:</i></p>
                          </div>
                          <div class="proposal-discussion-amendment-text">
                            <p>{{amendment.amendment_text}}</p>
                          </div>          
                          <div class="proposal-discussion-comment-text">
                            <p>{{amendment.amendment_description}}</p>
                          </div>        
                        </div>
                      </div>
                    </div>
                  </div>  
              </md-content>
            </md-tab>

          </md-tabs>
        </md-content>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="padding: 10px; min-height: 70px;">
      <div class="vote-proposal-buttons">
        <md-button class="md-fab md-primary vote-no-button" style="background-color: #E7695D; margin-right: 20px; margin-left: 20px;" ng-click="VoteController.voteNo(proposal)">   
          <!-- <md-icon md-svg-src="img/icons/vote_no_button.svg" aria-label="Vote No"></md-icon> -->
          No
        </md-button>
        <span></span> 
        <md-button class="md-fab md-primary vote-yes-button" style="background-color: #76B18B; margin-right: 20px; margin-left: 20px;" ng-click="VoteController.voteYes(proposal)">   
          <!-- <md-icon md-svg-src="img/icons/vote_yes_button.svg" aria-label="Vote Yes"></md-icon> -->
          Yes
        </md-button>        
      </div>
    </md-dialog-actions>

  </form>
</md-dialog>

<style>
  .proposal-title {
    padding: 10px;
    font-style: italic;
  }
  .proposal-dialogue {
    width: 80%;
  }
</style>